{% extends "template.html" %}

{% set page = 'Speakers' %}

{% block meta %}
<title>User Design Track</title>
<meta content = "" name="description">
<meta content = "" name="keywords">
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}

<main id="main" class="main-page">

<!----Keynotes Speakers Section----->

	<section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h1 align="center">User Design Track</h1>
          </div>
      
      
      

          <h3 align="center"style="color:grey
          ; font-size:30px;">Presentation</h3>
      </br>
          <table width="900" class="table table-bordered table-hover ">
  <thead>
    <tr>
      
      <th col width="250" align="justify"style="line-height: 35px;"scope="col" class="bg-success">Session-1</th>
      <th col width="250" style="line-height: 35px;"scope="col" class="bg-success">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Location : DIYA</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Session Chair- Ayan Datta, Intel</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success"></th>
    </tr>
    <tr>
      
      <th style="line-height: 25px scope="col" class="table-info">Paper Title</th>
      <th style="line-height: 25px"scope="col" class="table-info">Authors</th>
      <th style="line-height: 25px"scope="col" class="table-info">Track</th>
      <th style="line-height: 25px"scope="col" class="table-info">Time Slot</th>
      <th style="line-height: 25px"scope="col" class="table-info">Affiliation</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</th>
      <td>Jai Gopal Pandey and Abhijit Karmakar</td>
      <td>Front End Silicon Design</td>
      <td>4:00-4:20PM</td>
      <td>CEERI</td>
    </tr>
    <tr>
      <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</th>
      <td>Prateek Pendyala and Vishant Gotra</td>
      <td>Back End Silicon Design</td>
      <td>4:20-4:40PM	</td>
      <td>INTEL</td>
    </tr>
    <tr>
      <td >Improving low power implementation flow using special NOR isolation cells	</th>
      <td>AMAN JAIN</td>
      <td>Back End Silicon Design</td>
      <td>5:00-5:20PM</td>
      <td>IIT M</td>
    </tr>
    <tr>
      <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</th>
      <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
      <td>Transistor Level Design</td>
      <td>5:20-5:40PM		</td>
      <td>SAMSUNG</td>
    </tr>
    <tr>
      <td colspan="3" class="bg-primary">Memento and certificate Honor</td>
      
      
      <td class="bg-primary">12:25:12:35PM	</td>
      <td class="bg-primary"></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      
      <th col width="250" align="justify"style="line-height: 35px;"scope="col" class="bg-success">Session-1</th>
      <th col width="250" style="line-height: 35px;"scope="col" class="bg-success">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Location : DIYA</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Session Chair- Ayan Datta, Intel</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success"></th>
    </tr>
    <tr>
      
      <th style="line-height: 25px scope="col" class="table-info">Paper Title</th>
      <th style="line-height: 25px"scope="col" class="table-info">Authors</th>
      <th style="line-height: 25px"scope="col" class="table-info">Track</th>
      <th style="line-height: 25px"scope="col" class="table-info">Time Slot</th>
      <th style="line-height: 25px"scope="col" class="table-info">Affiliation</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</th>
      <td>Jai Gopal Pandey and Abhijit Karmakar</td>
      <td>Front End Silicon Design</td>
      <td>4:00-4:20PM</td>
      <td>CEERI</td>
    </tr>
    <tr>
      <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</th>
      <td>Prateek Pendyala and Vishant Gotra</td>
      <td>Back End Silicon Design</td>
      <td>4:20-4:40PM	</td>
      <td>INTEL</td>
    </tr>
    <tr>
      <td >Improving low power implementation flow using special NOR isolation cells	</th>
      <td>AMAN JAIN</td>
      <td>Back End Silicon Design</td>
      <td>5:00-5:20PM</td>
      <td>IIT M</td>
    </tr>
    <tr>
      <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</th>
      <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
      <td>Transistor Level Design</td>
      <td>5:20-5:40PM		</td>
      <td>SAMSUNG</td>
    </tr>
    <tr>
      <td colspan="3" class="bg-primary">Memento and certificate Honor</td>
      
      
      <td class="bg-primary">12:25:12:35PM	</td>
      <td class="bg-primary"></td>
    </tr>
  </tbody>
</table>
</br>
</br>
<h3 align="center"style="color:grey
          ; font-size:30px;">Posters</h3>
      </br>
          <table width="900" class="table table-bordered table-hover ">
  <thead>
    <tr>
      
      <th col width="250" align="justify"style="line-height: 35px;"scope="col" class="bg-success">Session-1</th>
      <th col width="250" style="line-height: 35px;"scope="col" class="bg-success">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Location : DIYA</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Session Chair- Ayan Datta, Intel</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success"></th>
    </tr>
    <tr>
      
      <th style="line-height: 25px scope="col" class="table-info">Paper Title</th>
      <th style="line-height: 25px"scope="col" class="table-info">Authors</th>
      <th style="line-height: 25px"scope="col" class="table-info">Track</th>
      <th style="line-height: 25px"scope="col" class="table-info">Time Slot</th>
      <th style="line-height: 25px"scope="col" class="table-info">Affiliation</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</th>
      <td>Jai Gopal Pandey and Abhijit Karmakar</td>
      <td>Front End Silicon Design</td>
      <td>4:00-4:20PM</td>
      <td>CEERI</td>
    </tr>
    <tr>
      <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</th>
      <td>Prateek Pendyala and Vishant Gotra</td>
      <td>Back End Silicon Design</td>
      <td>4:20-4:40PM	</td>
      <td>INTEL</td>
    </tr>
    <tr>
      <td >Improving low power implementation flow using special NOR isolation cells	</th>
      <td>AMAN JAIN</td>
      <td>Back End Silicon Design</td>
      <td>5:00-5:20PM</td>
      <td>IIT M</td>
    </tr>
    <tr>
      <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</th>
      <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
      <td>Transistor Level Design</td>
      <td>5:20-5:40PM		</td>
      <td>SAMSUNG</td>
    </tr>
    <tr>
      <td colspan="3" class="bg-primary">Memento and certificate Honor</td>
      
      
      <td class="bg-primary">12:25:12:35PM	</td>
      <td class="bg-primary"></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      
      <th col width="250" align="justify"style="line-height: 35px;"scope="col" class="bg-success">Session-1</th>
      <th col width="250" style="line-height: 35px;"scope="col" class="bg-success">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Location : DIYA</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success">Session Chair- Ayan Datta, Intel</th>
      <th align="justify" style="line-height: 35px;"scope="col" class="bg-success"></th>
    </tr>
    <tr>
      
      <th style="line-height: 25px scope="col" class="table-info">Paper Title</th>
      <th style="line-height: 25px"scope="col" class="table-info">Authors</th>
      <th style="line-height: 25px"scope="col" class="table-info">Track</th>
      <th style="line-height: 25px"scope="col" class="table-info">Time Slot</th>
      <th style="line-height: 25px"scope="col" class="table-info">Affiliation</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</th>
      <td>Jai Gopal Pandey and Abhijit Karmakar</td>
      <td>Front End Silicon Design</td>
      <td>4:00-4:20PM</td>
      <td>CEERI</td>
    </tr>
    <tr>
      <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</th>
      <td>Prateek Pendyala and Vishant Gotra</td>
      <td>Back End Silicon Design</td>
      <td>4:20-4:40PM	</td>
      <td>INTEL</td>
    </tr>
    <tr>
      <td >Improving low power implementation flow using special NOR isolation cells	</th>
      <td>AMAN JAIN</td>
      <td>Back End Silicon Design</td>
      <td>5:00-5:20PM</td>
      <td>IIT M</td>
    </tr>
    <tr>
      <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</th>
      <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
      <td>Transistor Level Design</td>
      <td>5:20-5:40PM		</td>
      <td>SAMSUNG</td>
    </tr>
    <tr>
      <td colspan="3" class="bg-primary">Memento and certificate Honor</td>
      
      
      <td class="bg-primary">12:25:12:35PM	</td>
      <td class="bg-primary"></td>
    </tr>
  </tbody>
</table>
</br>
</br>
<ul>
	<li style="font-size: 18px;
      font-weight: 400;">Presenting author must register for main conference to present their paper/poster.</li>
	<li style=" font-size: 18px;
      font-weight: 400;">Poster printing will be taken care by conference organizing committee.</li>
	<li style=" font-size: 18px;
      font-weight: 400;">Presenting author must be available next to his/her poster display at given time slot for presentation.</li>
</ul>
        


        
</div>
		
</section>
</main>
{% endblock %}